;;EXAMPLE - remove all physics props
;remove:
;{
;"classname" "/prop_physics.*/"
;}
;;EXAMPLE - replace all garbage cans with a hostage
;modify:
;{
;       match:
;       {      
;       "model" "models/props_junk/garbage_metalcan002a.mdl"
;       "classname" "prop_physics_multiplayer"
;       }
;       replace:
;       {
;       "classname" "hostage_entity"
;       }
;       delete:
;       {
;       "model" "models/props_junk/garbage_metalcan002a.mdl"
;       }
;       insert:
;       {
;       "scale" "0.99"
;       }
;}
remove:
{
        "classname" "weapon_m3"
}
remove:
{
        "classname" "weapon_scout"
}
remove:
{
        "classname" "/weapon_.*/"
}
remove:
{
        "classname" "weapon_galili"
}
remove:
{
        "classname" "trigger_multiple"
        "OnStartTouch" "/.*ShowHudHint.*/"
}
 
;remove:
;{
;       "classname" "trigger_teleport"
;       "targetname" "/.*jail.*/"
;}
;
;remove:
;{
;       "classname" "logic_auto"
;}
;
;remove:
;{
;       "classname" "info_teleport_destination"
;       "targetname" "/.*jail.*/"
;}
 
modify:
{
        match:
        {
        "classname" "trigger_teleport"
        }
        insert:
        {
        "UseLandmarkAngles" "1"
        }
}
 
remove:
{
        "classname" "game_player_equip"
}
